* {
    margin: 0;
    padding: 0;
}

body {
  font-size: x-large;
  background-color: #403f3f;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all .4s ease;
  color: #11A7A2;
}

a:hover {
  text-decoration: none;
  color: #FFA45C;
}

.home {
  min-height: 700px;
  height: 100vh;
}

.header {
  width: 100%;
  height: 100px;
  font-family: 'Oswald', sans-serif;
}

.header a {
  font-size: .8em;
  float: right;
  margin: 20px 0 0 10px;
  font-weight: 700;
  padding: 10px;
}

.main-view {
  margin-top: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #282828;
}

@media screen and (min-height: 800px) {
  .main-view {
    margin-top: 15%;
  }
}

.main-view h1,
.main-view h3 {
  color: #f1f1f1
}

.main-view h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.main-view h3 {
  font-size: 1.3em;
  font-weight: 300;
}

.main-view a {
  padding: 10px;
  font-size: .6em;
}

.my-pic {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-image: url("/images/me.JPG");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  transition: all .5s ease;
}

.my-pic:hover {
  border-radius: 5px;
}

.social {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

.contact {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 25px;
}

.email {
  font-size: .8em;
}
